@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.blog-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem;
}

@media (min-width: 1024px) {
    .blog-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: none;
    }
}

/* Styles for the Body component */
.body-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Inter", serif;
}

/* Welcome Section */
.welcome-section {
    text-align: center;
    margin: 5rem 0 3rem 0;
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.welcome-description {
    font-size: 1.25rem;
    color: #555;
}

/* Blog Posts Container */
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}